.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
    padding: 0 152px;

}
.head>div{
    width: 60%;
    display: flex;
    gap: 2rem;
}
.head__buscador {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0.8em;
    border-radius: 1rem;
    background-color: var(--ligthgray);
    width: 100%;
    
}
.head__buscador__input::placeholder{
    font-family: var(--raleway);
    font-size: 14px;
    color: var(--preto50);
}
.head__buscador__input{
    border: none;
    background-color: transparent;
    width: 90%;
}


