*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 62px 152px 25px 152px;
}
.button{
    border: 1px solid var(--blue);
    background-color: transparent;
    padding: 0.5rem 2.5rem;
}
.button > a {
    font-family: var(--raleway);
    font-weight: 400;
    color: var(--blue);
    text-decoration: none;
}
.boton{
    background-color: var(--blue);
    color: white;
    width: 116px;
    text-decoration: none;
    font-size: .75em;
    padding: 16px;
    text-align: center;
    border-style: none;
    font-family: var(--raleway);
}
footer{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font-size: 14px;
    font-family: var(--raleway);
}