.galeria {
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 16px;

}
.galeria__titulo{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.galeria__titulo > h2 {
    font-size: 32px;
    color: var(--preto100);
}
.galeria__titulo > p {
    color: var(--blue);
}
.galeria__productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.galeria__producto{
    display: flex;
    flex-direction: column;
    height: 252px;
}
.galeria__producto > img {
    width: 176px;
    height: 174px;
}
.galeria__producto > p {
    font-weight: 500;
    font-size: 14px;
    padding-top: 5px;
}
.galeria__producto > h4 {
    color: var(--preto100);
    padding: 5px 0px;
}
.galeria__producto > a {
    text-decoration: none;
    color: var(--blue);
}


@media screen and (max-width: 1024px) and (min-width: 769px) {
    .galeria__producto:nth-child(n+5) {
        display: none;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) {
    .galeria__producto:nth-child(n+5) {
        display: none;
    }
    .container {
        padding: 62px 30px 25px 30px;
    }
}
@media screen and (max-width: 425px){
    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
    .galeria__producto > img {
        width: 166px;
    } 
}