.productos {
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 16px;
    background-color: var(--preto05);
}
.productos__titulo{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.productos__titulo > h2 {
    font-size: 32px;
    color: var(--preto100);
}
.agregar-productos{
    background-color: var(--blue);
    color: white;
    font-weight: 100;
    text-decoration: none;
    font-size: .75em;
    padding: 16px;
    text-align: center;
    border-style: none;
    font-family: var(--raleway);
}
.galeria__productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.galeria__producto{
    display: flex;
    flex-direction: column;
    height: 252px;
}
.galeria__producto > img {
    width: 176px;;
    height: 174px;
}
.galeria__producto > p {
    font-weight: 500;
    font-size: 14px;
    padding-top: 5px;
}
.galeria__producto > h4 {
    color: var(--preto100);
    padding: 5px 0px;
}
.galeria__producto > a {
    text-decoration: none;
    color: var(--blue);
}



@media screen and (max-width: 1024px) and (min-width: 769px) {
}
@media screen and (max-width: 768px) and (min-width: 426px) {
    .productos {
        padding: 62px 30px 25px 30px;
    }
}
@media screen and (max-width: 425px){
    .productos{
        padding-right: 15px;
        padding-left: 15px;
    }
    .galeria__producto > img {
        width: 166px;
    } 
}