.contacto{
    background-color: var(--azul10);
    padding-bottom: 62px;
}
.contacto-navegacion {
    height: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contacto-enlaces {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.contacto__logo{
    width: 176px;
    height: 50px;
}
.navegacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: var(--raleway);
    font-weight: 500;
    font-size: 14px;
    color: var(--preto100);
}
.enlaces{
    list-style: none;
}
.formulario__contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: var(--raleway);
    width: 48%;
}
.formulario__contacto > p {
    font-weight: 600;
    font-size: 14px;
    color: var(--preto100);
}
.user__name {
    width: 100%;
}
.user__name > input{
    border: none;
    height: 40px;
    width: 100%;
    padding: 10px 0px 0px 10px;
    font-size: 16px;
    font-weight: 200;
    border-bottom: 1px solid lightgray;
}
.user__name > label {
    position: absolute;
    opacity: 0.5;
    pointer-events: none;
    font-family: 'Raleway';
    font-size: 11px;
    margin-left: 10px;
    margin-top: 3px;
}
.textarea{
    width: 100%;
}
.textarea > textarea{
    border: none;
    border-bottom: 1px solid lightgray;
    font-size: 14px;
    width: 100%;
    height: 60px;
    padding: 10px 0px 0px 10px;
    resize: none;
}
textarea::placeholder{
    color: var(--preto50);
    font-family: var(--raleway);
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .contacto{
        padding-top: 30px;
        padding-bottom: 70px;
    }
    .contacto-enlaces {
        flex-direction: column;
        height: 240px;
        gap: 12px;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    .contacto-enlaces{
    flex-direction: column;
    height: 240px;
    gap: 12px;
    }
    .contacto {
        padding: 30px 30px 60px 30px;
    }
    .formulario__contacto{
        width: 60%;
    }
}
@media screen and (max-width: 425px){
    .contacto{
        padding: 20px 10px 15px 10px;
        height: 500px;
    }
    .contacto-navegacion{
        flex-direction: column;
        align-items: center;
        height: 100%;
        text-align: center;
    }
    .contacto-enlaces{
        width: 100%;
        align-items: center;
        flex-direction: column;
        height: 55%;
    }
    .formulario__contacto {
        width: 100%;
        gap: 10px;
    }
    .boton{
        padding: 10px;
    }
}

