.promo{
    background: url("../../img/super-mushroom.png") no-repeat center;
    background-size: cover;
    color: white;
    font-family: var(--raleway);
    gap: 0.5rem;
    padding-top: 165px;
}
.promo__titulo{
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 3em;
}
.promo__texto{
    font-family: var(--raleway);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.promo__boton{
    background-color: var(--blue);
    color: white;
    width: 116px;
    text-decoration: none;
    font-size: .75em;
    padding: 16px;
    text-align: center;
    border-style: none;
    font-family: var(--raleway);
}