.promo{
    background: linear-gradient(rgba(0, 0, 0, 0.2),  rgba(0, 0, 0, 0.8)), url("../../img/super-mushroom.png") no-repeat center;
    background-size: cover;
    color: white;
    font-family: var(--raleway);
    gap: 0.5rem;
    padding-top: 165px;
}
.promo__titulo{
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 3em;
}
.promo__texto{
    font-family: var(--raleway);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) and (min-width: 377px) {
    .promo{
        display: flex;
        justify-content: flex-end;
        height: 352px;
    }
}
@media screen and (max-width: 375px) {
    .promo__titulo{
        font-size: 1em;
    }
    .promo__texto{
        font-size: 14px;
        font-weight: 100;
    }
    
}
